<p-card styleClass="bg-black-alpha-40">
  <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
  <form [formGroup]="form" class="flex flex-column gap-4">
    <div class="flex flex-column gap-2">
      <label htmlFor="form-name">Name</label>
      <input pInputText id="form-name" aria-describedby="name" formControlName="name" />
      <small class="text-red-400" *ngFor="let error of validationErrors['name']">{{ error }}</small>
    </div>
    <div class="flex flex-column gap-2">
      <label htmlFor="form-description">Description</label>
      <input pInputText id="form-description" aria-describedby="name" formControlName="description" />
      <small class="text-red-400" *ngFor="let error of validationErrors['description']">{{ error }}</small>
    </div>
    <div class="flex gap-2 justify-content-start align-items-center">
      <p-inputSwitch formControlName="isActive"></p-inputSwitch>
      <span>{{ form.get('isActive')?.value ? 'Active' : 'Inactive' }}</span>
    </div>
  </form>
  <div class="flex flex-row justify-content-end gap-2 mt-4">
    <button pButton pRipple label="Cancel" (click)="cancel()"></button>
    <button pButton pRipple [label]="saveInProgress ? 'Saving...' : 'Submit'"
      [icon]="saveInProgress ? 'pi pi-spin pi-spinner' : ''" class="p-button-success" (click)="submit()"></button>
  </div>
</p-card>
