<div class="flex flex-column p-2 mt-2 mb-2">
  <div class="m-auto">
    <div class="flex bg-primary align-items-center justify-content-center gap-2 font-bold border-round"
      style="min-width: 200px; min-height: 100px">
      <div class="text-2xl">&#x20B1;</div>
      <div class="text-6xl">{{ totalExpenses$ | async| number: '0.0' }}</div>
    </div>
    <div class="text-sm text-center mt-2 p-2">{{ dateRangeLabel }}</div>
  </div>

  <div class="flex flex-column align-items-center" *ngIf="selectedView$ | async as view">
    <div class="flex gap-2 justify-content-center mt-4">
      <p-button label="Day"
        styleClass="p-button-text text-500 {{ view?.toLowerCase() === 'day' ? 'text-primary' : '' }}"
        (click)="updateView('day')"></p-button>
      <p-button label="Week"
        styleClass="p-button-text text-500 {{ view?.toLowerCase() === 'week' ? 'text-primary' : '' }}"
        (click)="updateView('week')"></p-button>
      <p-button label="Month"
        styleClass="p-button-text text-500 {{ view?.toLowerCase() === 'month' ? 'text-primary' : '' }}"
        (click)="updateView('month')"></p-button>
      <p-button label="Year"
        styleClass="p-button-text text-500 {{ view?.toLowerCase() === 'year' ? 'text-primary' : '' }}"
        (click)="updateView('year')"></p-button>
    </div>
  </div>
</div>
<div class="p-2">
  <div class="text">Recent Transactions</div>
  <ng-container *ngIf="data$ | async as data; else noResult">
    <div class="card mt-4" *ngIf="data.data.length > 0; else noResult">
      <app-expense-list [items]="data.data" (selected)="editEntry($event)" [hidePagination]="true"></app-expense-list>
    </div>
  </ng-container>
</div>

<ng-template #noResult>
  <div class="mt-4 card flex justify-content-center">
    <span>No result</span>
  </div>
</ng-template>
