<div class="w-full h-full flex gap-4">
  <!-- side bar -->
  <div class="h-full w-2 p-fluid flex flex-column gap-2 p-fluid shadow-5 bg-black-alpha-40 p-2 side-menu border-round" >
    <ng-container *ngFor="let item of items">
      <button pButton pRipple [label]="item.label ?? ''" [icon]="'pi ' + item.icon" class="text-left p-button-text text-lg text-color-secondary" [routerLink]="item.routerLink" ></button>
    </ng-container >

  </div>
  <!-- /side bar -->
  <div class="main flex-grow-1 pt-2">
    <div class="shadow-3 p-4 border-round bg-black-alpha-40">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
