<div class="auth-container">
  <p-card styleClass="bg-black-alpha-40 p-2" header="Password Reset">
    <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>

    <div class="text-green-200 border-1 border-green-200 border-round p-2 mb-4">Enter your email address below and we'll send an email allowing you to reset it.</div>

    <form [formGroup]="form" class="flex flex-column gap-4">
      <div class="flex flex-column gap-2">
        <label htmlFor="email">Email</label>
        <input pInputText id="email" aria-describedby="Login email" formControlName="email" />
        <small class="text-red-400" *ngFor="let error of validationErrors['email']">{{ error }}</small>
      </div>
      <div>
        <ng-container *ngIf="saveInProgress else resetPassword">
          <button pButton pRipple label="Processing your request..." icon="pi pi-spin pi-spinner" class="w-full"></button>
        </ng-container>
        <ng-template #resetPassword>
          <p-button label="Submit" styleClass="w-full" (click)="submit()"></p-button>
        </ng-template>
      </div>

      <div class="flex mt-6">
        <a class="no-underline cursor-pointer" routerLink="/login" >Need to login?</a>
      </div>
    </form>
  </p-card>
</div>
