
<div class="flex gap-4">
  <!-- col -->
  <div class="w-8 p-4 border-solid border-1 surface-border border-round-md bg-black-alpha-40 table-wrapper">
    <div [formGroup]="filterForm" class="flex mb-4  align-items-end">
      <div class="flex gap-2 flex-grow-1  align-items-end">
        <div class="flex flex-column gap-2 p-fluid">
          <label htmlFor="view">View</label>
          <p-dropdown formControlName="view" [options]="dateViewOptions" optionLabel="name" optionValue="id" class="w-100"></p-dropdown>
        </div>
        <div class="flex flex-column gap-2 p-fluid">
          <label htmlFor="dateFrom">Date From</label>
          <p-calendar id="dateFrom" formControlName="dateFrom" dateFormat="dd-M-yy"></p-calendar>
        </div>
        <div class="flex flex-column gap-2 p-fluid">
          <label htmlFor="dateTo">Date To</label>
          <p-calendar id="dateTo" formControlName="dateTo" dateFormat="dd-M-yy"></p-calendar>
        </div>
        <p-button icon="pi {{  (filterInProgress$ | async) ? 'pi-spin pi-spinner' : 'pi-search' }}"
                  pTooltip="Apply filter" styleClass="p-button-rounded " (click)="applyFilter()"></p-button>
        <p-button icon="pi pi-filter-slash" pTooltip="Clear fields" styleClass="p-button-rounded " (click)="clearFilter()"></p-button>
      </div>
      <p-button icon="pi pi-plus" pTooltip="Create Expense" styleClass="p-button-rounded " (click)="addEntry()"></p-button>
    </div>
    <ng-container *ngIf="expenseEntries$ | async as data; else noResult">
      <div class="flex gap-2 align-items-center py-2">
        <span>Total spent for this period:</span>
        <span class="text-xl border-round bg-cyan-800 p-2 font-bold">{{ ((filteredItems$ | async) ?? data) | sum: 'amount' | number: '0.0'}}</span>
      </div>
      <div class="card" *ngIf="data.length > 0; else noResult">
        <app-expense-table-view
          *ngIf="toggleViewValue === 'table'"
          [items]="data"
          (selected)="editEntry($event)"
          (delete)="deleteEntry($event)"
          (onPageChange)="onPageChange($event)"
          (onFilterChange)="onFilterChange($event)"></app-expense-table-view>
      </div>
    </ng-container>

    <ng-template #noResult>
      <div class="mt-4 card flex justify-content-center">
        <span>No result</span>
      </div>
    </ng-template>
  </div>
  <!-- /col -->

  <!-- col -->
  <div class="w-4 flex flex-column gap-4">
    <div class="p-fluid">
      <app-calendar-data
          [reminders]="(reminders$ | async) || []"
          [dailyTotalSummary]="(dailyTotal$ | async) || []"
          (applySelectedDate)="applyDateFilter($event)"
          (monthChange)="onMonthChange($event)"
          [startDate]="(calendarDateRange$ | async)?.dateFrom!"
          [endDate]="(calendarDateRange$ | async)?.dateTo!">
      </app-calendar-data>
    </div>
    <div class="border-solid border-1 surface-border border-round-md p-4 bg-black-alpha-40">
      <div class="flex gap-2 align-items-center justify-content-between">
        <span class="text-2xl">Categories</span>
        <div class="font-italic text-sm" *ngIf="filter$ | async as filter">(filtered data from {{ filter.dateFrom | date: 'MMM-dd-yyy'}} to {{ filter.dateTo | date: 'MMM-dd-yyy'}})</div>
      </div>
      <app-expense-per-category *ngIf="totalPerCategory$ | async as items" [items]="items"></app-expense-per-category>
    </div>
  </div>
  <!-- /col -->
</div>

<ng-template #defaultDay>
  <span class="py-2 text-xs">&nbsp;</span>
</ng-template>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
