<div [formGroup]="filterForm">
  <p-toolbar>
    <div class="p-toolbar-group-start gap-2">

      <div class="p-float-label">
        <p-calendar id="dateFrom" formControlName="dateFrom" dateFormat="dd-M-yy"></p-calendar>
        <label htmlFor="dateFrom">Date From</label>
      </div>
      <div class="p-float-label">
        <p-calendar id="dateTo" formControlName="dateTo" dateFormat="dd-M-yy"></p-calendar>
        <label htmlFor="dateTo">Date To</label>
      </div>
      <div class="p-float-label">
        <p-dropdown formControlName="category" [options]="categories" optionLabel="name" id="category"></p-dropdown>
        <label htmlFor="category">Category</label>
      </div>
      <p-button icon="pi {{  (filterInProgress$ | async) ? 'pi-spin pi-spinner' : 'pi-search' }}"
        styleClass="p-button-rounded " (click)="applyFilter()"></p-button>
      <p-button icon="pi pi-filter-slash" styleClass="p-button-rounded " (click)="clearFilter()"></p-button>
    </div>
    <div class="p-toolbar-group-end">
      <p-button icon="pi pi-plus" styleClass="p-button-rounded " (click)="addEntry()"></p-button>
    </div>
  </p-toolbar>
</div>
<ng-container *ngIf="data$ | async as data; else noResult">
  <div class="card mt-4" *ngIf="data.data.length > 0; else noResult">
    <div class="flex flex-row border-bottom-1 border-50" *ngFor="let expense of data.data">
      <div class="flex p-4">
        icon here
      </div>
      <div class="flex flex-column flex-grow-1 p-2 gap-2">
        <div class="text-xl font-bold">{{ expense.category }}</div>
        <div class="text-sm"> {{ expense.expenseDate | date: 'dd-MMM-yyyy' }}</div>
      </div>
      <div class="flex gap-2 align-items-center p-2">
        <div class="flex text-xl font-semibold gap-2">
          <span>&#x20B1;</span>
          <span>{{ expense.amount }}</span>
        </div>
        <p-button icon="pi pi-eye" styleClass="p-button-text" (click)="editEntry(expense)"></p-button>
      </div>
    </div>
    <!-- <p-dataView #dv [value]="expenses">
      <ng-template let-expense pTemplate="listItem">
        <div class="col-12">
          <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
            <div
              class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
              <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                <div class="text-2xl font-bold text-900">{{ expense.name }}</div>
                <div class="text">{{ expense.description }} </div>
                <div class="flex align-items-center gap-3">
                  <span class="flex align-items-center gap-2">
                    <i class="pi pi-tag"></i>
                    <span class="font-semibold">{{ expense.category }}</span>
                  </span>
                </div>
              </div>
              <div class="flex flex-column gap-2 align-items-end">
                <div class="flex text-2xl font-semibold gap-2">
                  <span>&#x20B1;</span>
                  <span>{{ expense.amount }}</span>
                </div>
                <p-button icon="pi pi-eye" styleClass="p-button-rounded" (click)="editEntry(expense)"></p-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView> -->
  
    <div class="mt-4 flex justify-content-center">
      <p-paginator (onPageChange)="onPageChange($event)" [rows]="totalRows" [totalRecords]="data.totalRows"
        [rowsPerPageOptions]="[10, 20, 50]"></p-paginator>
    </div>
  </div>
</ng-container>

<ng-template #noResult>
  <div class="mt-4 card flex justify-content-center">
    <span>No result</span>
  </div>
</ng-template>