
<div class="form xl:w-4 lg:w-5 md:w-7 m-auto">
  <p-card styleClass="bg-black-alpha-40 px-2">
    <ng-template *ngIf="!dialogConfig" pTemplate="header">
        <span class="text-2xl p-4 pb-0 flex">{{ isEdit ? 'Update' : 'Create' }}</span>
    </ng-template>
    <form [formGroup]="expenseForm">
    <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
      <div class="flex flex-column gap-2">
        <div class="flex flex-column gap-2 p-fluid">
          <label htmlFor="form-category">Category</label>
          <p-dropdown id="form-category" formControlName="categoryId" [options]="categories" optionLabel="name" optionValue="id"></p-dropdown>
          <small class="text-red-400" *ngFor="let error of validationErrors['category']">{{ error }}</small>
        </div>
        <div class="flex flex-column gap-2 p-fluid">
          <label htmlFor="form-amount">Amount</label>
          <p-inputNumber inputId="form-amount" formControlName="amount"></p-inputNumber>
          <small class="text-red-400" *ngFor="let error of validationErrors['amount']">{{ error }}</small>
        </div>
        <div class="flex flex-column gap-2 p-fluid">
          <label htmlFor="form-date">Date</label>
          <p-calendar id="form-date" formControlName="date" dateFormat="dd-M-yy"></p-calendar>
          <small class="text-red-400" *ngFor="let error of validationErrors['date']">{{ error }}</small>
        </div>
        <div class="flex flex-column gap-2">
          <label htmlFor="form-description">Description</label>
          <input pInputText id="form-description" aria-describedby="username-help" formControlName="description"/>
          <small class="text-red-400" *ngFor="let error of validationErrors['description']">{{ error }}</small>
        </div>
        <div class="flex flex-column gap-2 p-fluid">
          <label htmlFor="form-source">Source</label>
          <p-dropdown id="form-source" formControlName="sourceId" [options]="sources" optionLabel="name"  optionValue="id"></p-dropdown>
          <small class="text-red-400" *ngFor="let error of validationErrors['source']">{{ error }}</small>
        </div>
        <div class="flex flex-column gap-2 p-fluid">
          <label htmlFor="form-tags">Tags</label>
          <p-chips id="form-tags" formControlName="tags"  separator="," [addOnBlur]="true"></p-chips>
          <small class="text-red-400" *ngFor="let error of validationErrors['tags']">{{ error }}</small>
        </div>
      </div>
    </form>
    <div class="flex flex-row justify-content-end gap-2 mt-4">
      <button pButton pRipple label="Cancel" (click)="cancel()"></button>
      <button pButton pRipple label="Submit" class="p-button-success" (click)="submit()"></button>
    </div>
  </p-card>
</div>
