<p-calendar class="max-w-full" [(ngModel)]="calendarDate" [inline]="true" (onMonthChange)="onMonthChange($event)"
  (onSelect)="onSelectDate($event)" (onShow)="onShow($event)">
  <ng-template pTemplate="date" let-date>
    <div class="flex flex-column align-items-center justify-content-end">
      <span class="p-1 text-xl">{{ date.day }}</span>
      <div class="flex gap-2">
        <span
          *ngIf="dailySummary[date.year + '-' + decimalPipe.transform((date.month + 1), '2.0') + '-' + decimalPipe.transform(date.day, '2.0')]; let data"
          class="p-1 text-xs bg-cyan-800 border-round">
          {{ data | number: '0.0' }}
        </span>
        <span
          *ngIf="calendarData[date.year + '-' + decimalPipe.transform((date.month + 1), '2.0') + '-' + decimalPipe.transform(date.day, '2.0')]; let data"
          class="p-1 text-xs bg-yellow-800 border-round">
          {{ data }}
        </span>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex w-full justify-content-between p-2">
      <div class="flex align-items-center" *ngIf="calendarDate">
        <span>Selected Date: </span>
        <span class="font-bold ml-2">{{ calendarDate | date: 'dd-MMM-yyy'}}</span>
      </div>
      <div class="flex align-items-center gap-1">
        <p-button *ngIf="calendarDate" label="Apply Date Filter" pTooltip="Apply selected date as filter" styleClass="p-button-rounded"
          (click)="applySelectedDate()"></p-button>
        <p-button *access="['SuperAdmin', 'Admin', 'Standard']" icon="pi pi-calendar-plus" pTooltip="Create Reminder" tooltipPosition="left" styleClass="p-button-rounded" (click)="newReminder()"></p-button>

      </div>
    </div>
    <div class="border p-2">
      <div class="mb-2">Reminders:</div>
      <div class="font-italic py-2" *ngIf="selectedReminders.length === 0">No data</div>
      <div class="flex w-full align-items-center gap-1 mb-1 border-round surface-50 p-2 mb-1" *ngFor="let reminder of selectedReminders">
        <span class="mr-2 flex-grow-1">{{ reminder.subject }}</span>
        <ng-container *access="['SuperAdmin', 'Admin', 'Standard']">
          <p-button icon="pi pi-pencil" pTooltip="Edit Reminder" styleClass="p-button-rounded p-button-outlined p-button-sm p-button-secondary reminder-action" (click)="editReminder(reminder)"></p-button>
          <p-button icon="pi pi-trash" pTooltip="Delete Reminder" styleClass="p-button-rounded p-button-outlined p-button-sm p-button-danger reminder-action" (click)="removeReminder(reminder)"></p-button>
          <p-button icon="pi pi-plus" pTooltip="Create Expense" tooltipPosition="left" styleClass="p-button-rounded p-button-outlined p-button-sm p-button-help reminder-action" (click)="createExpense(reminder)"></p-button>
        </ng-container>
      </div>
    </div>
  </ng-template>
</p-calendar>

<ng-template #defaultDay>
  <span class="py-2 text-xs">&nbsp;</span>
</ng-template>
