<div class="login-container">
  <p-card styleClass="bg-black-alpha-40">
    <form [formGroup]="form" class="flex flex-column">
      <div class="mb-4 text-2xl">
        Sign in
      </div>
      <ng-container *ngIf="authService.googleLoginInProgress$ | async else googleSignIn">
        <button pButton pRipple label="Login in progress..." icon="pi pi-spin pi-spinner"></button>
      </ng-container>
      <ng-template #googleSignIn>
        <button pButton pRipple label="Sign in with Google" icon="pi pi-google"
          (click)="signInGoogle()"></button>
      </ng-template>

      <div class="text-center my-4">
        Or
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="username">Email</label>
        <input pInputText id="username" aria-describedby="username-help" formControlName="email" />
        <!-- <small id="username-help">Enter your username to reset your password.</small> -->
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="username">Password</label>
        <input pInputText id="username" aria-describedby="username-help" formControlName="password" />
        <!-- <small id="username-help">Enter your username to reset your password.</small> -->
      </div>
      <div class="flex justify-content-between mt-4">
        <div class="flex align-items-center gap-1">
          <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
          <label for="ny">New York</label>
        </div>
        <button pButton pRipple label="Sign In" (click)="signInEmailAndPassword()"></button>
      </div>
      <div class="mt-2">
        <!-- <p-button label="Forgot your password?" styleClass="p-button-link"></p-button> -->
        <a class="no-underline cursor-pointer" (click)="forgotPassword()">Forgot your password?</a>
      </div>
    </form>
  </p-card>
</div>
