:host {
  height: calc(100vh - 2rem);
  display: flex;

  ::ng-deep {
    iframe {
      color-scheme: light !important;
    }
  }

  .action-button {
    border-radius: 50%;
    outline: 0 !important;
    background: white;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }

  ::ng-deep .copy-action {
    width: 24px !important;
    height: 24px !important;
    .pi {
      font-size: 1.25rem;
    }
  }

}
