:host {
  height: calc(100vh - 2rem);
  display: flex;
}

.login-container {
  width: 400px;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
}
