::ng-deep {
  .p-datepicker {
    background: #181920;
  }

  // .table-wrapper {
  //   border: 1px solid red !important;
  //   max-height: calc(100vh - 84px);
  //   overflow-y: scroll;

  //   table {
  //     border: 1px solid blue !important;
  //   }
  // }
  .reminder-action {
    width: 28px !important;
    height: 28px !important;
  }

}
